<div class="container mx-auto px-4" [ngSwitch]="state">
  <ng-container *ngSwitchCase="'pregame'">
    <div class="text-center m-10">
      <div class="text-xl text-center">Read Consent Quickly</div>
      <div class="text-base text-center">
        Respond within 3 seconds, or else.
      </div>
      <button
        class="
          bg-blue-500
          hover:bg-blue-600
          focus:outline-none
          focus:ring-2
          focus:ring-blue-500
          focus:ring-opacity-50
          px-5
          py-2
          m-5
          text-white
        "
        (click)="goToState('started')"
      >
        Start
      </button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'started'">
    <div class="text-center m-10">
      <span class="text-xl text-center"
        >Declaration of Consent for the use of This Application</span
      >
    </div>
    <div class="text-center">
      <span class="text-center"
        >{{ currentPromptText }} [{{ currentPromptCorrectResponse }}]</span
      >
      <div class="content-center">
        <button
          class="
            bg-green-600
            hover:bg-green-700
            focus:outline-none
            focus:ring-2
            focus:ring-green-600
            focus:ring-opacity-50
            px-5
            py-2
            m-5
          "
          (click)="respond(true)"
        >
          Yes
        </button>
        <button
          class="
            bg-red-600
            hover:bg-red-700
            focus:outline-none
            focus:ring-2
            focus:ring-red-600
            focus:ring-opacity-50
            px-5
            py-2
            m-5
          "
          (click)="respond(false)"
        >
          No
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'win'">
    <div class="text-center m-10">
      <div class="text-xl text-center">You Win!</div>
      <button
        class="
          bg-blue-500
          hover:bg-blue-600
          focus:outline-none
          focus:ring-2
          focus:ring-blue-500
          focus:ring-opacity-50
          px-5
          py-2
          m-5
          text-white
        "
        (click)="reset()"
      >
        Play again!
      </button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'lose'">
    <div class="text-center m-10">
      <div class="text-xl text-center">You Lose!</div>
      <button
        class="
          bg-blue-500
          hover:bg-blue-600
          focus:outline-none
          focus:ring-2
          focus:ring-blue-500
          focus:ring-opacity-50
          px-5
          py-2
          m-5
          text-white
        "
        (click)="reset()"
      >
        Play again!
      </button>
    </div>
  </ng-container>
</div>
